body{
    background-color: #eb0101b9;
  
    overflow-x: hidden;
   
} 

/* Font and Colors */
*{
font-family: 'Noticia Text', serif;
}

h1, h2, h3, h4, h5, h6 .h1, .h2, .h3, .h4, .h5, .h6{
font-family: 'Righteous', cursive;
}

.text-main{
color: #cc001a;
}

.text-acc{
color: #fef8fc;
}

/* Navbar */

.navbar-brand{
color:#eb0101 !important;
font-weight: bold;
display: flex;
justify-content: center;
justify-items: center;
align-items: center;
justify-self: center;
}

.a-nav{
color: whitesmoke !important;
}

.a-nav:hover{
color: #eb0101!important;
}

.coloricon{
color: red;
}

.navbar-toggler{
color: #eb0101!important;
background-color: #eb0101 !important;
}

.span.navbar-toggler-icon{
color: #eb0101!important;

}

@media screen and (max-width: 600px) {
.nav-query{
    position: static;
}
}

/* Header */

.bg-custom{
    background-color:#f9efee;
}

.text-title-center{
    margin-top: 50%;
    
}

@media screen and (max-width: 600px) {
    .text-title-center{
        margin-top: 0%;
    }

}
    
/* Categorie */

:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

.hero-section{
    align-items: flex-start;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}
      
.card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}
      
    @media(min-width: 540px){
        .card-grid{
          grid-template-columns: repeat(2, 1fr); 
        }
      }
      
    @media(min-width: 960px){
        .card-grid{
          grid-template-columns: repeat(3, 1fr); 
        }
      }
      
.card{
    list-style: none;
    position: relative;
}
      
.card:before{
    content: '';
    background:  #eb0101b9;
    display: block;
    padding-bottom: 150%;
    width: 100%;
        
}
      
.card__background{
    background-size:cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
    filter 200ms linear,
    transform 200ms linear;
}
      
.card:hover .card__background{
    transform: scale(1.05) translateZ(0);
}
      
.card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}
      
.card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
      }
      
.card__heading{
    color: var(--text-lighter);
    text-decoration: underline;
    font-size: 1.9rem;    
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;  
}


/* Top-Btn */

#topButton{
    height: 50px;
    width: 50px;
    background-color: wheat;
    color: #eb0101 !important;
    text-decoration: none;
    position: fixed;
    bottom: 10%;
    right: 3%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fef8fc;
}

/* Iscrizione */

.subscribe{
    height: 75vh;
    width: 100vw;
    background-image: url(/media/12.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    padding: 5px;
    border-style: ridge;    
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content:center;
}

.form-control-custom{
    width: 300px;
    background-color:rgb(7, 78, 7);
    color: white;
    margin: 5px;
    height: 45px;
}

.btn-custom{
    background-color: rgb(7, 78, 7);
    height: 45px;
    width: 150px;
    color: white;
    border-radius: 30%;
}

.btn-custom:hover{
    background-color: #eb0101;
    color: white;
}



/* Footer */

@media screen and (max-width: 600px) {
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px;
        text-align: center;
        overflow-x: hidden;
    }
}

footer a:hover{

        color: #eb0101!important;
    
    
}
